{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center">
	<h3>Ajouter des images</h3>
</div>

{{ form_start(ImagesForm) }}

<div class="form-group">
	{{ form_widget(ImagesForm) }}

</div>
<br>
<button type="submit" class="btn btn-primary">Publiez</button>
{{ form_end(ImageForm) }}
